/*
    As we are restricted to use a <div class="container"></div>
    on every page (restricted by the server-side), this class
    will be a "layer" over that DIV so we can add styles to it
    as required (i.e. backgrounds and colors)
*/
.container-layer {
    background-color: #231f20;
    font-family: "nissan_brandregular";
    height: 100%;
    padding: 25px;
    width: 100%;
}

.container-layer--light {
    background-color: #ffffff;
}

.container-layer h1 {
    border-bottom: 1px solid #3f3523;
    color: #b79533;
    margin: 0 0 20px 0;
    padding-bottom: 15px;
}

.container-layer--light h1 {
    color: #555555;
    border-bottom-color: #dddddd;
}

.container-layer h2 {
    color: #ffffff;
    font-size: 1.3em;
}

.container-layer--light h2 {
    color: #555555;
}

.container-layer p {
    color: #ffffff;
    line-height: 1.6;
    font-size: 1.1em;
}

.container-layer--light p {
    color: #333333;
}

.md-guild-banner {
    display: block;
    margin: 0 auto;
    max-width: 850px;
    padding: 25px;
    padding-bottom: 40px;
    width: 100%;
}

.md-guild-table {
    color: #ffffff;
    margin: 25px 0;
    table-layout: fixed;
}

.md-guild-table thead tr {
    background-color: #ffffff;
    color: #333333;
    font-size: 1.25em;
}

.md-guild-table thead th {
    padding: 8px 12px;
}

.md-guild-table td {
    font-size: 1.1em;
    padding: 6px 12px;
}

.md-guild-table tbody tr {
    border-bottom: 1px solid;
}

.md-guild-table tbody tr:last-of-type {
    border-bottom-width: 2px;
}

.md-guild-table--full-width {
    width: 100%;
}

.md-guild-table--gold thead tr {
    background-color: #b79533;
}

.md-guild-table--gold tbody tr {
    border-bottom-color: #b79533;
}

.md-guild-table--platinum thead tr {
    background-color: #e5e4e2;
}

.md-guild-table--platinum tbody tr {
    border-bottom-color: #e5e4e2;
}

.md-guild-table--red {
    color: #333333;
}

.md-guild-table--red thead tr {
    background-color: #c40030;
}

.md-guild-table--red thead th {
    color: #ffffff;
}

.md-guild-table--red tbody tr {
    border-bottom-color: #dddddd;
}

.md-guild-table--red tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.md-guild-table--emphasize-left tr td:first-of-type {
    font-weight: bold;
}

.md-guild-image {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
    margin: 15px 0;
    width: 100%;
}

.md-guild-image--bordered {
    border: 3px inset #b79533;
}

.md-guild-hr {
    border: none;
    border-bottom: 1px solid #3f3523;
}
