<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nissan Ambassador Club</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/3-col-portfolio.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>

    <body style="background-color:#000000;">

        <!-- Page Content -->
        <div class="container" align="center">


            <!-- Projects Row -->
            <div class="row" style="margin-top:50px;">

                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard">
                        <img class="img-responsive" src="images/tiles/images/tile-my-dashboard.jpg" style="width:270px; margin-bottom:30px;" width="332"
                            alt="">
                    </a>

                </div>
                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/MembersGuide">
                        <img class="img-responsive" src="images/tiles/images/tile-nissanac.jpg" style="width:270px; margin-bottom:30px;" alt="">
                    </a>

                </div>


                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/Leaderboards">
                        <img class="img-responsive" src="images/tiles/images/tile-rankings.jpg" style="width:270px; margin-bottom:30px;" width="332"
                            alt="">
                    </a>

                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/ProductChallenge">
                        <img class="img-responsive" src="images/tiles/images/nissan-productchallenge.jpg" style="width:270px; margin-bottom:30px;"
                            width="332" alt="">
                    </a>


                </div>


                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/MDguild">
                        <img class="img-responsive" src="images/tiles/images/md-guild.jpg" style="width:270px; margin-bottom:30px;"
                            width="332" alt="">
                    </a>

                </div>


                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/Incentives">
                        <img class="img-responsive" src="images/tiles/images/tile-incentives.jpg" style="width:270px; margin-bottom:30px;"
                            width="332" alt="">
                    </a>
                    <a href="dashboard.html"></a>


                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="http://nissanlearningacademy.com.au" target="_blank">
                        <img class="img-responsive" src="images/tiles/images/tile-training.jpg" style="width:270px; margin-bottom:30px;" width="332"
                            alt="">
                    </a>

                </div>


                <div class="col-md-4 portfolio-item">
                    <a href="http://www.nissan.com.au/Discover/News" target="_blank">
                        <img class="img-responsive" src="images/tiles/images/whatsnews-nissannews.jpg" style="width:270px; margin-bottom:30px;" width="332"
                            alt="">
                    </a>


                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="https://www.nissanfeedback.com.au/Report/login.php" target="_blank">
                        <img class="img-responsive" src="images/tiles/images/tile-ce.jpg" style="width:270px; margin-bottom:30px;" alt="">
                    </a>

                </div>

                <div class="col-md-4 portfolio-item">
                    <a href="http://nissan-events.com.au/excellence-fy17/ac/welcome.html" target="_blank">
                        <img class="img-responsive" src="images/tiles/images/nissan-doty.jpg" style="width:270px; margin-bottom:30px;" width="332"
                            alt="">
                    </a>

                </div>

                <div class="col-md-4 portfolio-item">
                    <img class="img-responsive" src="images/tiles/images/tile-worldrewards.jpg" style="width:270px; margin-bottom:30px;"
                        width="332" alt="">


                </div>



                <div class="col-md-4 portfolio-item">
                    <a href="/Dashboard/Calendar">
                        <img class="img-responsive" src="images/tiles/images/tile-calendar.jpg" style="width:270px; margin-bottom:30px;" alt="">
                    </a>

                </div>






            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <!-- Projects Row -->
            <!-- /.row -->
            <!-- Pagination -->
            <!-- /.row -->
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <!--<p>Copyright &copy; Your Website 2014</p>-->
                    </div>
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
