<style>
    @import "css/md-guild.css";
</style>

<div class="container-layer container-layer--light">
    <h1>High Achievers Past Events</h1>
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <p>
                This award status was introduced in the 2016 Ambassador Club Program. This exceptional group of members now enjoy the privilege
                of joining the Managing Director’s Guild members on their annual luxurious weekend away. An opportunity to
                mix with peers and experience beautiful destinations.
            </p>
            <h2>2017 Event at Hamilton Island</h2>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/30.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/31.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/32.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/33.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/34.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/35.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/36.jpg" alt="">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/37.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <a href="/Dashboard/MDguild-events-past">
                <button type="button" class="btn btn-default btn-lg btn-block">Back</button>
            </a>
        </div>
    </div>
</div>
<script src="/js/md-guild.js"></script>
