<!-- Page Header -->

<!-- /.row --> 

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px">
  <div class="col-md-9">
    <h3><!-- Hamilton Island 26th to 28th May 2017--></h3>
    <p>
    <h1  class="page-header">Nissan Ambassador Club<br>High Achiever Award</h1>
    <br>
    <p>An exclusive invitation to join our Managing Director’s Guild Event is now extended to our High Achievers.  Introduced in the AC16 program this is now an annual award. The criteria for achieving High Achiever Status demands excellence in every area of your job description. There are no minimum lifetime credits to earn but much to experience in meeting our esteemed Guild members along with your peers and partner in recognition of your outstanding achievement.  If you are ranked in one of the places listed in the table below at 31 March in the current AC program your place is secured. </p>
    <style>
	 .table {
		 width: 70%;
	 }
			</style>
    <p>
    <p>&nbsp;</p>
    <table class="table" align=center>
      <tr style="font-family:'nissan_brandbold'; background-color: #e31d3c; color:#FFFFFF;">
        <td>Position</td>
        <td>National Ranking</td>
      </tr>
      <tr >
        <td>Sales Manager</td>
        <td>1st and 2nd</td>
      </tr>
      <tr class="active">
        <td>Retail Sales Consultant</td>
        <td>1st and 2nd</td>
      </tr>
      <tr >
        <td>Fleet Manager or Fleet Consultant</td>
        <td>1st</td>
      </tr>
      <tr class="active">
        <td>Parts Manager</td>
        <td>1st and 2nd</td>
      </tr>
      <tr >
        <td>Service Manager</td>
        <td>1st and 2nd</td>
      </tr>
      <tr class="active">
        <td>Stock Controller</td>
        <td>1st</td>
      </tr>
      <tr >
        <td>F & I Manager</td>
        <td>1st</td>
      </tr>
      <tr class="active">
        <td>Financial Controller</td>
        <td>1st</td>
      </tr>
      <tr >
        <td><strong>TOTAL</strong></td>
        <td><strong>12 Winners Nationally</strong></td>
      </tr>
    </table>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 align=center>2016 High Achiever Award Winners</h2>
    <p>&nbsp;</p>
    <table class="table" align=center>
      <tr>
        <td>Bradley</td>
        <td>Bartlem</td>
        <td>Village Motors -    Redcliffe</td>
        <td>Sales Manager</td>
      </tr>
      <tr class="active">
        <td>Will </td>
        <td>Quin</td>
        <td>Ferntree Gully Nissan</td>
        <td>Sales Manager</td>
      </tr>
      <tr>
        <td>Greg</td>
        <td>Dennis</td>
        <td>Ferntree Gully Nissan</td>
        <td>Retail Sales    Consultant</td>
      </tr>
      <tr class="active">
        <td>Mohit</td>
        <td>Arora</td>
        <td>Ferntree Gully Nissan</td>
        <td>Retail Sales    Consultant</td>
      </tr>
      <tr>
        <td>Fady</td>
        <td>Soliman</td>
        <td>Essendon Nissan</td>
        <td>Fleet Sales Manager</td>
      </tr>
      <tr class="active">
        <td>Raymond</td>
        <td>Lu</td>
        <td>Ferntree Gully Nissan</td>
        <td>F &amp; I Manager</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>McGuinness</td>
        <td>Northside Nissan</td>
        <td>Parts Manager</td>
      </tr>
      <tr class="active">
        <td>Clinton</td>
        <td>Jones</td>
        <td>Jarrett Nissan</td>
        <td>Parts Manager</td>
      </tr>
      <tr>
        <td>Josh</td>
        <td>Rollason</td>
        <td>Lieschke Nissan</td>
        <td>Service Manager</td>
      </tr>
      <tr class="active">
        <td>Stuart</td>
        <td>Gruchy</td>
        <td>Yarra Valley Nissan</td>
        <td>Service Manager</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-3">
        <p><img src="images/30.jpg" class="img-responsive"  alt=""/></p>
      </div>
      <div class="col-md-3">
        <p><img src="images/31.jpg" class="img-responsive"  alt=""/></p>
      </div>
      <div class="col-md-3">
        <p><img src="images/32.jpg" class="img-responsive"  alt=""/></p>
      </div>
      <div class="col-md-3">
        <p><img src="images/33.jpg" class="img-responsive"  alt=""/></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p><img src="images/34.jpg" class="img-responsive"  alt=""/></p>
      </div>
      <div class="col-md-3">
        <p><img src="images/35.jpg" class="img-responsive"  alt=""/></p>
      </div>
      <div class="col-md-3">
        <p><img src="images/36.jpg" class="img-responsive"  alt=""/></p>
      </div>
     <div class="col-md-3">
        <p><img src="images/37.jpg" class="img-responsive"  alt=""/></p>
      </div>
   </div>
    <div class="row"></div>
    <div class="row" style="margin-top:20px;"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>--> 
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="col-md-3"> <a href="/Dashboard/MDguild">
    <button type="button" class="btn btn-default btn-lg btn-block">MD Guild</button>
    </a> 
    
    <!--  <img src="images/md-guild2.jpg"  alt=""/> --> 
  </div>
 
  
</div>
<!-- /.row -->
<div class="row" style="padding-bottom:30px"></div>

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px"></div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row"></div>
<!--  <hr>   /.row --> 

