      <!-- Page Header -->
        <div class="row">
       
      <div class="col-lg-12">
        <h1 class="page-header" style="color:#d5a133; border-bottom:1px solid #b79533;"><img src="images/md-guild3.png" class="img-responsive"   width="1100px" alt=""/></h1> 
        </div>
      
      
                
      
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px">
        
        
        <div class="col-md-9">
        
       
       
        


		
        <div class="row" style="padding-top: 20px; padding-bottom: 40px;">
		<div class="col-sm-4">
      <img src="images/stephen-lester.jpg" class="center-block" style="width: 100%; max-width: 250px; margin-bottom: 20px; display: block;" alt="Stephen Lester">
		</div>
		
		<div class="col-sm-8">
        <p>Once inducted into the Managing Director’s Guild you become a Foundation member.  (MDG Gold 325k credits, MDG Platinum 500k credits)</p>
         <p>To be invited to future induction events you must either maintain Ambassador status within each program year, (refer to the member guide for position requirements) or Ambassador Status Average. (lifetime credits/years of service)</p>
         <p>MD Guild members are our most valued members of the Club and have been fortunate to travel to Induction locations such as Sydney, Melbourne, Barossa Valley, Uluru and for the 2017 event, Hamilton Island.</p>
         <p>Once inducted into the Managing Director’s Guild you become a Foundation member.  (MDG Gold 325k credits, MDG Platinum 500k credits)</p>
         <p>To be invited to future induction events you must either maintain Ambassador status within each program year, (refer to the member guide for position requirements) or Ambassador Status Average. (lifetime credits/years of service)</p>
         <p>MD Guild members are our most valued members of the Club and have been fortunate to travel to Induction locations such as Sydney, Melbourne, Barossa Valley, Uluru and for the 2017 event, Hamilton Island.</p>
        
         <div class="border22 center-block" style="width: 400px; margin-top: 20px;">
            <img src="images/22.jpg"  class="img-responsive" alt=""/>
         </div>
        </div>
      </div>

        <div class="row">       
          <div class="col-md-12">
          
        <div class="col-md-12">
            </div>
      </div>
      </div>
        
        
<p>&nbsp;</p>
        <h3 class="mdguild">Hamilton Island Inductees</h3>
       <br>
       <table class="table" cellspacing="0" cellpadding="0" style="color:#FFFFFF;">
         <tr>
           <td>Ben   Maslen</td>
           <td>Westpoint   Nissan</td>
         </tr>
         <tr>
           <td>Braith   Gartshore</td>
           <td>Gaukroger   Nissan</td>
         </tr>
         <tr>
           <td>Craig   Scanlan</td>
           <td>Warwick   Nissan</td>
         </tr>
         <tr>
           <td>David   Stopps</td>
           <td>Castle   Hill Nissan</td>
         </tr>
         <tr>
           <td>Duncan   Mc Lean</td>
           <td>Lakeside   Nissan</td>
         </tr>
         <tr>
           <td>Jason Collins</td>
           <td>Main   North Nissan</td>
         </tr>
         <tr>
           <td>Jason   Tan</td>
           <td>Berwick   Nissan</td>
         </tr>
         <tr>
           <td>Josh   Klein</td>
           <td>Gatton   Auto</td>
         </tr>
         <tr>
           <td>Martin   Wood</td>
           <td>Main   North Nissan</td>
         </tr>
         <tr>
           <td>Matt   Shine</td>
           <td>Parry   NQ Nissan</td>
         </tr>
         <tr>
           <td>Paul   Korteman</td>
           <td>Werribee   Nissan</td>
         </tr>
         <tr>
           <td>Sam   Nicholls</td>
           <td>National   Capital Motors</td>
         </tr>
         <tr>
           <td>Simon   Wise</td>
           <td>Jarrett   Nissan</td>
         </tr>
         <tr>
           <td>Stephen   Vassel</td>
           <td>Muswellbrook   Nissan</td>
         </tr>
         <tr>
           <td>Steve   Rose</td>
           <td>Morley   City Nissan</td>
         </tr>
         <tr>
           <td>Tony   O'neill</td>
           <td>Macarthur   Nissan</td>
         </tr>
         <tr>
           <td>Wayne   Bultitude</td>
           <td>Great   Lakes Nissan</td>
         </tr>
       </table>
       <br>
       <p>&nbsp;
        <h3 class="mdguild">MDG Gold Members</h3>
        <table cellspacing="0" cellpadding="0" class="table" style="color:#FFFFFF;">
          <tr>
            <td>Ben   Bilsborow</td>
            <td>Jarrett   Nissan</td>
          </tr>
          <tr>
            <td>Colin   Wallace</td>
            <td>Western   Plains Nissan</td>
          </tr>
          <tr>
            <td>Ed   Staff</td>
            <td>Moorooka   Nissan</td>
          </tr>
          <tr>
            <td>Emidio   Tarzia</td>
            <td>Lakeside   Nissan</td>
          </tr>
          <tr>
            <td>Gary   Gatehouse</td>
            <td>Northern   Nissan</td>
          </tr>
          <tr>
            <td>Giuseppe   Gentile</td>
            <td>DJ   Nissan</td>
          </tr>
          <tr>
            <td>Graham   Reid</td>
            <td>Bundaberg   Nissan</td>
          </tr>
          <tr>
            <td>Graham   Watson</td>
            <td>Lennock   Motors</td>
          </tr>
          <tr>
            <td>Malcolm   Bradshaw</td>
            <td>John   Page Motors</td>
          </tr>
          <tr>
            <td>Mark   Madgwick</td>
            <td>Lakeside   Nissan</td>
          </tr>
          <tr>
            <td>Paul   Downie</td>
            <td>Wynnum   Manly Nissan</td>
          </tr>
          <tr>
            <td>Peter   Taylor</td>
            <td>Rex   Gorell Nissan</td>
          </tr>
          <tr>
            <td>Richard   Lefik</td>
            <td>Wynnum   Manly Nissan</td>
          </tr>
          <tr>
            <td>Ross   Turner</td>
            <td>Gladstone   Nissan</td>
          </tr>
          <tr>
            <td>Ross   Vella</td>
            <td>Macarthur   Nissan</td>
          </tr>
          <tr>
            <td>Russell   Hodges</td>
            <td>Ron   Doyle Motors Nissan</td>
          </tr>
          <tr>
            <td>Terry   Clark</td>
            <td>Chano   Trentin's AWD Centre</td>
          </tr>
          <tr>
            <td>Thomas   Young</td>
            <td>The   Big Garage</td>
          </tr>
          <tr>
            <td>Tim   Overall</td>
            <td>North   Jacklin Nissan</td>
          </tr>
          <tr>
            <td>Wayne   Evans</td>
            <td>Brighton   Nissan</td>
          </tr>
          <tr>
            <td>Wayne   Matau</td>
            <td>Magic   Nissan</td>
          </tr>
          <tr>
            <td>Ziad   Azmarli</td>
            <td>Main   North Nissan</td>
          </tr>
        </table>
<p><br>
      
        <p>
        
        <h3 class="mdguild">MDG PLATINUM Members</h3>
        
        <table cellspacing="0" cellpadding="0" class="table" style="color:#FFFFFF;">
          <col>
          <tr>
            <td>Brad Woodhouse</td>
            <td>Steve Jarvin Nissan</td>
          </tr>
          <tr>
            <td>Fady Soliman</td>
            <td>Essendon Nissan</td>
          </tr>
          <tr>
            <td>Keith Mc Intyre</td>
            <td>DJ Nissan</td>
          </tr>
          <tr>
            <td>Martin Smart</td>
            <td>John Page Motors</td>
          </tr>
          <tr>
            <td>Paul Bright</td>
            <td>Metro Nissan</td>
          </tr>
          <tr>
            <td>Philip Cullen</td>
            <td>von Bibra Robina Nissan</td>
          </tr>
          <tr>
            <td>Stephen Forrest</td>
            <td>Ipswich Nissan</td>
          </tr>
          <tr>
            <td>Warren Richards</td>
            <td>Lismore Nissan</td>
          </tr>
        </table>
        
        
        <p>&nbsp;</p>
        <p><u><br>
        </u></p>
        
        
      <div class="row">       
      <div class="col-md-12">
      <h3 class="mdguild">  Previous Induction Events</h3>
      <p>2017 Event at Hamilton Island - MD16</p>

      <div class="col-md-6">
      <div class="borderteam">
      <img src="images/md-guild-2017-1.jpg"  class="img-responsive" alt=""/>
      </div>
      </div>


      <div class="col-md-6">
      <div class="borderteam">
      <img src="images/md-guild-2017-2.jpg"  class="img-responsive" alt=""/>
      </div>
      </div>

      </div>
      </div>  
			


      <div class="row">       
			<div class="col-md-12">

			<p>2016 Event at Uluru- MD15</p>

			<div class="col-md-6">
      <div class="borderteam">
			<img src="images/010.jpg"  class="img-responsive" alt=""/>
			</div>
      </div>


			<div class="col-md-6">
      <div class="borderteam">
			<img src="images/011.jpg"  class="img-responsive" alt=""/>
			</div>
      </div>

			</div>
			</div>
      
      
    <div class="row">       
        <div class="col-md-12">
        
        <br>
			<p>2015 Event at Barossa Valley – MD13 &amp; MD14</p>

        
			<div class="col-md-6">
       <div class="borderteam">
        <img src="images/012.jpg"  class="img-responsive" alt=""/>
        	</div>
        </div>
        	
    <div class="col-md-6">
      <div class="borderteam">
        <img src="images/013.jpg"  class="img-responsive" alt=""/>
        	</div>
        	</div>
		</div>
		</div>

     
        <div class="row">       
        <div class="col-md-12">
        
        	<br>
			<p>2013 Event Melbourne –  The Langham &amp; Bon Jovi – MD12</p>

        
			<div class="col-md-6">
        <div class="borderteam">
        <img src="images/014.jpg"  class="img-responsive" alt=""/>
        	</div>
          </div>
        	
      <div class="col-md-6">
        <div class="borderteam">
        <img src="images/015.jpg"  class="img-responsive" alt=""/>
        	</div>
        	</div>
		</div>
		</div>
		
		
		
		  <div class="row">       
        <div class="col-md-12">
        
        	<br>
			<p>2012 Event – Sydney – The Blue Room – MD11</p>

        
			<div class="col-md-6">
        <div class="borderteam">
        <img src="images/016.jpg"  class="img-responsive" alt=""/>
        	</div>
        </div>
        	
      <div class="col-md-6">
        <div class="borderteam">
        <img src="images/017.jpg"  class="img-responsive" alt=""/>
        	</div>
        </div>
        	
		</div>
		</div>
   
     
     
     
     
      
       
       
        
        <p><strong>&nbsp;</strong></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        
        
            <div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>-->
            </div>
            
           
   		</div>
        
        
        <div class="col-md-3">
 		  <a href="/Dashboard/MDguild-members"><button type="button" class="btn btn-default btn-lg btn-block">Guild Members</button></a>
 		  <a href="/Dashboard/MDguild-high-achievers"><button type="button" class="btn btn-default btn-lg btn-block">High Achievers</button></a>
 		  <a href="/Dashboard/MDguild-events"><button type="button" class="btn btn-default btn-lg btn-block">Events</button></a>
        
        
         <!--  <img src="images/md-guild2.jpg"  alt=""/> -->
          </div> 
 
                 
          
            
        </div>
        <!-- /.row -->
        <div class="row" style="padding-bottom:30px"></div>
        
        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px"></div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row"></div>
        <!--  <hr>   /.row -->


