<style>
.fa-print {
	float: right;
	margin-right: 20px;
	margin-top: -15px;
}
.modal-dialog {
	width: 900px;
}
td a {
	font-size: 12px;
}
    
    #myPopup-Results h4 {
        font-size: 20px !important;
    }
    
    #myPopup-Results h4::before {
        content: 'YTD ';
    }
</style>
<!-- Page Header -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">MEMBER RANKINGS</h1>
  </div>
  
  <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>--> 
  
</div>
<!-- /.row --> 

<!-- Projects Row -->

<div class="col-md-12"> <br>
  <br>
  <div class="col-md-12"> 
    <!-- Modal -->
    
    <div id="myPopup" class="modal fade" role="dialog">
      <div class="modal-dialog"> 
        
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sales Manager - May </a></h4>
            <a class="print-icon" href="#" onclick="window.print();return false;"><i class="fa fa-print" aria-hidden="true" title="Print"></i></a> </div>
          <div class="modal-body">
            <div class="table-responsive" id="myPopup-Results"> </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal -->
    
    <div class="row"> <br>
      <br>
      <div class="panel-group" id="accordion">
        <div class="col-md-6">
          <div class="panel panel-default"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <div class="panel-heading squarebutton button-sales"> Sales</div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body panel-square" >
                <div class="col-md-4">
                  <h4 class="white">Sales Manager</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('M','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('M','C','R');">Current Regional</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('M','P','N');">Previous National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('M','P','R');">Previous Regional</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <h4 class="white">Retail Sales Consultant</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('R','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('R','C','R');">Current Regional</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('R','P','N');">Previous National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('R','P','R');">Previous Regional</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <h4 class="white">Fleet Manager/Sales Consultant</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('F','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('F','C','R');">Current Regional</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('F','P','N');">Previous National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('F','P','R');">Previous Regional</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <!-- --> 
          <!-- -->
          <div class="panel panel-default" > <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-family: 'nissan_brandbold', Helvetica, Arial, sans-serif;">
            <div class="panel-heading squarebutton button-service"> Service </div>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body panel-square">
                <div class="col-md-6">
                  <h4>Service Manager</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SM','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SM','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6">
                  <h4>Service Advisor</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SA','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SA','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--/end half-->
        
        <div class="col-md-6">
          <div class="panel panel-default" > <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
            <div class="panel-heading squarebutton button-parts"> Parts </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body panel-square">
                <div class="col-md-6">
                  <h4>Parts Manager</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('PM','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('PM','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6">
                  <h4>Parts Sales Representative</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('PS','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('PS','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <div class="panel-heading squarebutton button-admin"> Admin </div>
            </a>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body panel-square">
                <div class="col-md-4">
                  <h4>F&I Manager</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('I','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('I','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <h4>Financial Controller</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('C','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('C','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <h4>Stock Controller</h4>
                  <table class="table">
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SC','C','N');">Current National</a></td>
                    </tr>
                    <tr>
                      <td><a data-toggle="modal" href="#myPopup" onclick="showresults('SC','P','N');">Previous National</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br />
  </div>
</div>
<!-- /.row -->
<div class="row" style="padding-bottom:30px"></div>

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px"></div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row"></div>
<!--  <hr>   /.row --> 

<script>
		$('.panel-heading').click( function() {
			$('.panel-collapse.in')
    			.collapse('hide');
		});
	   
	   function showresults (role, period, region)
	   {
		   rdesc=(region=='N' ? 'National' : 'Regional');
		   
		   
		   $("#myPopup-Results").html('<p>&nbsp;</p><p align=center><img src="images/loading.gif"></p>');
		   switch(role)
		   {
			   case 'M':
				   $("h4.modal-title").html("Sales Manager - " + rdesc);
				   break;
			   case 'R':
				   $("h4.modal-title").html("Sales Consultant - " + rdesc);
				   break;
			   case 'F':
				   $("h4.modal-title").html("Fleet Managers/Fleet Sales Consultants - " + rdesc);
				   break;
			   case 'SM':
				   $("h4.modal-title").html("Service Manager - " + rdesc);
				   break;
			   case 'SA':
				   $("h4.modal-title").html("Service Advisor - " + rdesc);
				   break;
			   case 'PM':
				   $("h4.modal-title").html("Parts Manager - " + rdesc);
				   break;
			   case 'PS':
				   $("h4.modal-title").html("Parts Sales Representative - " + rdesc);
				   break;
			   case 'I':
				   $("h4.modal-title").html("F&I Manager - " + rdesc);
				   break;
			   case 'C':
				   $("h4.modal-title").html("Financial Controller - " + rdesc);
				   break;
			   case 'SC':
				   $("h4.modal-title").html("Stock Controller - " + rdesc);
				   break;
					   
		   }
		   $.post(
					"/modules/dashboard_post.php",
					{
						'action': 'GetRanking',
						'role': role,
						'period': period,
						'region': region
					},
					function(data) { 
							$("#myPopup-Results").html(data);
					});
	   
	   }
		
	</script>