<script src="/includes/calendar/bootstrap-year-calendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="/includes/calendar/bootstrap-year-calendar.min.css">
<link rel="stylesheet" type="text/css" href="/includes/calendar/bootstrap-theme.min.css">
<style>
	table {
		background-color: transparent;
	}
</style>
<!-- Page Header -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">AC CaLENDAR</h1>
  </div>
  
  <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>--> 
  
</div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px">
  <div class="col-md-12">
    <div id='calendar'></div>
    
     <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div class="col-md-3" style="padding-bottom:0px;"> 
      
  </div>
</div>
<!-- /.row -->
<div class="row" style="padding-bottom:30px"></div>

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px"></div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row"></div>
<!--  <hr>   /.row --> 

<script>
	$('#calendar').calendar();
</script>
