 <style>
/*
	  .table-responsive {
	overflow-x: hidden;
	overflow-y: hidden;
	  }
*/
</style>
        <!-- Page Header -->
        <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">MY Metrics - <em>Finance &amp; Insurance</em></h1> </div>





      <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>-->










        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px">


        <div class="col-md-12 col-sm-12">


		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

		google.charts.load('current', {'packages':['corechart']});

		google.charts.setOnLoadCallback(drawVisualization2);
		google.charts.setOnLoadCallback(drawVisualization3);
		google.charts.setOnLoadCallback(drawVisualization4);
		google.charts.setOnLoadCallback(drawVisualization5);
		google.charts.setOnLoadCallback(drawVisualization6);

        setTimeout(function () { adjustLegendMargin(); }, 4000);

        /* Moves the legend up slightly for each chart */
        function adjustLegendMargin () {
            const charts = document.querySelectorAll('svg');

            for (let i = 0; i < charts.length; i++) {
                let children = charts[i].querySelector('g').querySelectorAll('*');

                for (let j = 0; j < children.length; j++) {
                    children[j].setAttribute('y', children[j].getAttribute('y') - 10);
                }
            }
        }


      function drawVisualization2() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month',  'Credits'],
         {NFSA}
      ]);

    var options = {
	chartArea:{left:65,top:40,bottom:40,width:'80%',height:'75%'},
        legend: 'top',

	//title : 'MATCHED OW',
	//vAxis: {title: 'Metrics'},
    animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
      colors: ['#999999' ],
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 2000
			}
			, ticks: new Array(8).fill(250).map((n, i) => n * (i + 1))
		},
      //hAxis: {title: 'Month'},
      seriesType: 'bars'
      //,series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
    chart.draw(data, options);


  }



        function drawVisualization3() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'MVI', 'VPI', 'Package'],
         {INSURANCE}
      ]);

    var options = {
			chartArea:{left:73,top:40,bottom:40,width:'79%',height:'75%'},
        legend: 'top',
			    animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
        legend: 'top',


      //title : 'DLRRECOMMENDATION',
      colors: ['#999999', '#555555' ,'#c40030' ,'#c40030'],
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 800
			}
			, ticks: new Array(8).fill(100).map((n, i) => n * (i + 1))
		},
	  //vAxis: {title: 'Metrics'},      hAxis: {title: 'Month'},

      seriesType: 'bars'

    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div3'));
    chart.draw(data, options);
  }

          function drawVisualization4() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month',  'Genuine', 'Extended'],
			{EMW}
      ]);

    var options = {
	  chartArea:{left:80,top:40,bottom:40,width:'78%',height:'75%'},
        legend: 'top',
	      animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
        legend: 'top',
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 2000
			}
			, ticks: new Array(8).fill(250).map((n, i) => n * (i + 1))
		},

      //title : 'NEW VEHICLE SALES',

      colors: ['#555555'],

	 // vAxis: {title: 'Metrics'}, hAxis: {title: 'Month'},

      seriesType: 'bars'
      //series: {5: {type: 'line'}},
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div4'));
    chart.draw(data, options);
  }

            function drawVisualization5() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'Credits'],
         {PENETRATION}
      ]);

    var options = {
	  chartArea:{left:65,top:40,bottom:40,width:'80%',height:'75%'},
        legend: 'top',
	  animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
      //title : 'NEW VEHICLE SALES',
      colors: ['#c40030', '#555555' ,'#999999' ],
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 1000
			}
			, ticks: new Array(4).fill(250).map((n, i) => n * (i + 1))
		},
	 // vAxis: {title: 'Metrics'},hAxis: {title: 'Month'},

      seriesType: 'bars'
      //series: {5: {type: 'line'}},
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div5'));
    chart.draw(data, options);
  }



          function drawVisualization6() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month',  'Credits'],
         {FOLLOW-UP}
      ]);

    var options = {
	  chartArea:{left:65,top:40,bottom:40,width:'80%',height:'75%'},
        legend: 'top',
	      animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },

      //title : 'NEW VEHICLE SALES',

      colors: ['#555555'],
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 500
			}
			, ticks: new Array(5).fill(100).map((n, i) => n * (i + 1))
		},
	 // vAxis: {title: 'Metrics'}, hAxis: {title: 'Month'},

      seriesType: 'bars'
      //series: {5: {type: 'line'}},
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div6'));
    chart.draw(data, options);
  }




    </script>





<div class="row graph-back">




<div class="col-md-7" >
	<div class="table-responsive">
	 <h3>1. NFSA Contracts</h3>
    <div id="chart_div2" style="min-width: 600px; min-height: 500px;"></div>
	<table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {NFSA-RESULTS}
          </tr>
        </table></div>

        <br>



</div>


<div class="col-md-5">
    <h3>NFSA Contracts GUIDE</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>F&amp;I Manager </td>
        <td align="center">NFSA Finance Contract</td>
      </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">40</td>
      </tr>
    </table>
    <p>&nbsp;</p>


	</div>



</div>




<div class="row">

    <div class="col-md-7">

    <h3>2. Loyalty & Retention Bonus</h3>
        <div class="table-responsive">
            <div id="chart_div10" style="min-width: 600px; min-height: 400px;">
          </div>
        <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {LOYALTY-RETENTION-BONUS}
          </tr>
       </table>

        </div>

        <br>



    </div>

    <div class="col-md-5">
    <h3>Loyalty & Retention Bonus Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td nowrap>F&amp;I Manager </td>
        <td align="center">Loyalty & Retention Bonus</td>
        </tr>
      <tr>
        <td nowrap>Category A, B, C</td>
        <td align="center">10</td>
        </tr>
    </table>
    <p>&nbsp;</p>


	</div>

</div>

<div class="row">

    <div class="col-md-7">

    <h3>3. Insurance – MVI/VPI/MVI &amp; VPI pkg</h3>
        <div class="table-responsive">
            <div id="chart_div3" style="min-width: 600px; min-height: 400px;">
          </div>
        <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">MVI</td>
            {INSURANCE-MVI-RESULTS}
          </tr>
          <tr>
            <td class="nissangray-light-back">VPI</td>
            {INSURANCE-VPI-RESULTS}
          </tr>
          <tr>
            <td class="nissangray-light-back">Package</td>
            {INSURANCE-PKG-RESULTS}
          </tr>
       </table>

        </div>

        <br>



    </div>

    <div class="col-md-5">
    <h3>Insurance Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td nowrap>F&amp;I Manager </td>
        <td align="center">MVI Motor Vehicle Insurance</td>
        <td align="center">VPI Motor Equity Insurance</td>
        <td align="center">MVI &amp; VPI Package^</td>
        </tr>
      <tr>
        <td nowrap>Category A, B, C</td>
        <td align="center">20</td>
        <td align="center">20</td>
        <td align="center">5</td>
        </tr>
    </table>
    <p>&nbsp;</p>


	</div>

</div>

<div class="row graph-back">

    <div class="col-md-7">

    <h3>4. EMW Genuine/Extended</h3>
        <div class="table-responsive">
            <div id="chart_div4" style="min-width: 600px; min-height: 400px;">
            </div>
               <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">Genuine</td>
            {EMW-RESULTS}
          </tr>
          <tr>
            <td class="nissangray-light-back">Extended</td>
            {MMU-RESULTS}
          </tr>
        </table>     </div>

        <br>



    </div>



    <div class="col-md-5">
    <h3>EMW Genuine/Extended Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td nowrap>F&amp;I Manager</td>
        <td align="center">EMW Sale Genuine (NAPS)</td>
        <td align="center">EMW Extended<br>(Used/non- Nissan)</td>
        </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">40</td>
        <td align="center">5</td>
        </tr>
    </table>
    <p>&nbsp;</p>


	</div>

</div>


<div class="row graph-back">

    <div class="col-md-7">

    <h3>4. Dealer Sales Penetration</h3>
        <div class="table-responsive">
            <div id="chart_div5" style="min-width: 600px; min-height: 400px;">
            </div>
               <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {PENETRATION-RESULT}
          </tr>
        </table>     </div>

        <br>



    </div>



    <div class="col-md-5">
    <h3>Dealer Sales Penetration Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>F&amp;I Manager</td>
        <td align="center">30.0% - 44.9%</td>
        <td align="center">45% - 59.9%</td>
        <td align="center">60% - 74.9%</td>
        <td align="center">75% or more</td>
        </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">250</td>
        <td align="center">500</td>
        <td align="center">750</td>
        <td align="center">1000</td>
        </tr>
    </table>
    <p>&nbsp;</p>


	</div>

</div>


<div class="row graph-back">

    <div class="col-md-7">

    <h3>5. CE - F&I Satisfaction - Single Mth</h3>
        <div class="table-responsive">
            <div id="chart_div6" style="min-width: 600px; min-height: 400px;">
            </div>
               <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {FOLLOW-UP-RESULTS}
          </tr>
        </table>    </div>

        <br>


    </div>

    <div class="col-md-5">
    <h3>CE - F&I Satisfaction - Single Mth Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>F&amp;I Manager</td>
        <td align="center">86.0%</td>
        <td align="center">86.1 - 89.9%</td>
        <td align="center">90% or greater</td>
        </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">100</td>
        <td align="center">300</td>
        <td align="center">500</td>
        </tr>
    </table>
    <p>&nbsp;</p>


	</div>

</div>
        </div>


          <br>
         <br><br><br><br>
          <br>
          <br>
          <br>
          <br>
          <br>
<br>

        </div>


            <div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>-->
            </div>


   		</div>




        </div>
        <!-- /.row -->
        <div class="row" style="padding-bottom:30px"></div>

        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px"></div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row"></div>
        <!--  <hr>   /.row -->
