<!-- Page Header -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Frequently Asked Questions</h1>
  </div>
  
  <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>--> 
  
</div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px">
  <div class="col-md-12">
    <div class="row">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <strong>How and when do I have to register?</strong></a></div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Members must register once every program year 1 April – 31 March at <a href="http://www.nissan-events.com.au/ac2017/reg">www.nissan-events.com.au/ac2017/reg</a></p>
            </div>
          </div>
        </div>
        <!-- --> 
        <!-- -->
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><strong>How do I join Ambassador Club?</strong></a> </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Refer to “Are you eligible?” on the login page.  
                You must be enrolled on the Nissan mainframe to hold a 5digit student/Ambassador number 
                and be in an Ambassador Club eligible role.  
                You will be automatically rolled over into Nissan Ambassador Club, 
                receiving a Welcome Pack with your details, and notification for your 
                compulsory registration at  www.nissan-events.com.au/ac2017/reg.  
                On completion you will receive an e-Mail confirmation and only 
                then be eligible to earn Awards/Rewards within Nissan Ambassador Club. </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <strong>Am I eligible to participate in Sprint Incentives?</strong> </a> </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p> Yes, providing the criteria is applicable to your role and all AC & Sprint Incentive T&Cs are met.  Nissan Ambassador Club registration is compulsory for all incentives. </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> <strong>Am I eligible in Ambassador Club if I am enrolled on the Nissan mainframe?</strong> </a> </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p> If you are enrolled on the Nissan mainframe in an eligible AC role you are a member of AC but NOT an eligible member until you have registered in the current program period.  Every member must register once in every AC program period (1 April – 31 March) to be eligible. </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> <strong>What is the Ambassador Club program period?</strong> </a> </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p> 1 April – 31 March annually </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> <strong>Where can I find my metrics and criteria for Ambassador Club?</strong> </a> </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p> Go to the Member Guide tab and click your department/role tab.  You will find all information about Ambassador Club here. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <p>&nbsp;</p>
    <br />
    <div class="table-responsive"></div>
    <br>
    <br>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp; </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  
  <!-- 
            
            
          <div class="col-md-3" style="padding-bottom:0px;">
            
            <h3><a href="#">RANKINGS &amp; CREDITS</a></h3>
            
                <div class="table-responsive"> 
                
    

                
                <table class="table centre-text">
                  <tr class="hiabgray-back">
                    <td colspan="2">Your Current Ranking</td>
                  </tr>
                  <tr class="nissangray-light-back">
                    <td><span class="rank">33rd</span><br>
                    <p>Nationally</p></td>
                    <td><span class="rank">4th</span><br>
					<p>Regionally</p></td>
                  </tr>
                </table>
                </div>

				<div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="table-top-row">
                    <td>YTD Credits</td>
                  </tr>
                  <tr class="light-back">
                    <td><span class="rank">20,000</span><br></td>
                  </tr>
                </table>
                </div>            
            
      <div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="table-top-row">
                    <td>Lifetime Credits</td>
                  </tr>
                  <tr class="light-back">
                    <td><span class="rank">71,000</span><br></td>
                  </tr>
                </table>
                </div>
                
                
                <div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="nissangray-back">
                    <td colspan="2">Are you registered?</td>
                  </tr>
                  <tr class="nissangray-light-back">
                    <td><span class="rank" >	<a href="#" style="color:#FFFFFF; text-decoration:none;"title="You are eligible for the AC2017 Program">&#10004;</a></span><br>
                    </td>
                    
                  </tr>
                </table>
                </div>
                
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
          
          
<h3><a href="calender" style="margin-top:20px;">Calendar</a></h3>
 <div class="month">
 
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
     <div align="center">MARCH</div> 

    </li>
  </ul>
  
</div>




<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li><span class="active">10<a href="dashboard.html"></a></span></li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li><span class="active">20<a href="dashboard.html"></a></span></li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li><span class="active">30</span></li>
  
  
  
</ul>
                
                
            </div>
            
            --> 
  
</div>
<!-- /.row -->
<div class="row" style="padding-bottom:30px"></div>

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px"></div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row"></div>
<!--  <hr>   /.row --> 
