<script src="/includes/calendar/bootstrap-year-calendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="/includes/calendar/bootstrap-year-calendar.min.css">
<link rel="stylesheet" type="text/css" href="/includes/calendar/bootstrap-theme.min.css">
<style>
	table {
		background-color: transparent !important;
	}

	th.month-title {
		color: #c40030;
		font-size: 24px !important;
		font-weight: bold;
	}
	th.day-header {
		background-color: #c40030;
		color: #FFFFFF;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.calendar {
	overflow-y: hidden;
	}
	
	.calendar .month-container {
    min-width: 180px;
    text-align: center;
    height: 250px;
    padding: 0;
    }
    
    .calendar .month-container.selected {
        background-color: #FFF5F7;
    }
    
    table.month.highlighted td {
        background-color: #FFD9E2;
        color: #c40030;
    }
	
</style>
<!-- Page Header -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">AC CaLENDAR</h1>
  </div>
  
  <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>--> 
  
</div>
<!-- /.row --> 

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px">
 	   <div id='calendar' class="col-lg-12"></div>
  </div>

<script>
var currentYear = new Date().getFullYear();
var CALENDAR = $('#calendar').calendar({
 		dataSource: [
  {EVENTS}
	  ],
        clickDay: function (e) {
            dayClicked(e.events);
        },
        renderEnd: function (year) {
            try {
                highlightMonths();
            } catch (e) {}
        },
        mouseOnDay: function(e) {
            if(e.events.length > 0) {
                var content = '';
                
                for(var i in e.events) {
                    content += '<div class="event-tooltip-content">'
                                    + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                 + '</div>';
                }
            
                $(e.element).popover({ 
                    trigger: 'manual',
                    container: 'body',
                    html:true,
                    content: content
                });
                
                $(e.element).popover('show');
            }
        },
        mouseOutDay: function(e) {
            if(e.events.length > 0) {
                $(e.element).popover('hide');
            }
        }		
	});
</script>

<script>
    var monthHighlightFeatureEnabled = false;
    var EARLIEST_START, LATEST_FINISH;
    
    function dayClicked (events) {
        if (!monthHighlightFeatureEnabled) {
            return false;
        }

        function getFurthest (events, prop, mathFunc) {
            var dates = [];
            
            for (var i = 0; i < events.length; i++) {
                dates.push(events[i][prop]);
            }
            
            return new Date(mathFunc.apply(null, dates));
        }
        
        EARLIEST_START = getFurthest(events, 'startDate', Math.min);
        LATEST_FINISH = getFurthest(events, 'endDate', Math.max);
        
        highlightMonths();
    }
    
    /* Accepts a '<table class="month">' element */
    function getLastDayOfMonth (monthTable) {
        var day_DIVs = monthTable.querySelectorAll('div.day-content');
        
        /* The last day of the month should simply be the length of this 
        NodeList */
        return day_DIVs.length;
    }
    
    function highlightMonths () {
        var month_TABLEs = document.querySelectorAll('table.month');
        
        for (var i = 0; i < month_TABLEs.length; i++) {
            tryHighlight(month_TABLEs[i], i);
        }
    }
    
    function tryHighlight (monthTable, index) {
        var currentYear = CALENDAR.getYear();
        var month = index;
        var lastDayOfMonth = getLastDayOfMonth(monthTable);
        
        /* Actal Date object */
        var lastDateOfMonth = new Date(currentYear, month, lastDayOfMonth);
        
        if (
            (lastDateOfMonth >= EARLIEST_START && lastDateOfMonth <= LATEST_FINISH) ||
            (lastDateOfMonth.getMonth() == EARLIEST_START.getMonth() && lastDateOfMonth.getYear() == EARLIEST_START.getYear()) ||
            (lastDateOfMonth.getMonth() == LATEST_FINISH.getMonth() && lastDateOfMonth.getYear() == LATEST_FINISH.getYear())
            ) {
            monthTable.setAttribute('class', 'month highlighted');
        } else {
            monthTable.setAttribute('class', 'month');
        }
    }
</script>
