<style>
    @import "css/md-guild.css";
</style>

<div class="container-layer">
    <img class="md-guild-banner" src="/images/md-guild-banner.png" alt="MD Guild">
    <hr class="md-guild-hr">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <h2>Managing Director’s Guild Past Events</h2>
            <p>
                Here are some photos of the some of the previous Managing Director’s Guild events. This highly esteemed group of loyal Ambassador
                Club members have enjoyed some amazing experiences and formed friendships and bonds that will last a lifetime.
            </p>
            <h2>2017 Event at Hamilton Island - MD16</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/md-guild-2017-1.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/md-guild-2017-2.jpg" alt="">
                </div>
            </div>
            <h2>2016 Event at Uluru - MD15</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/010.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/011.jpg" alt="">
                </div>
            </div>
            <h2>2015 Event at Barossa Valley – MD13 & MD14</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/012.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/013.jpg" alt="">
                </div>
            </div>
            <h2>2013 Event Melbourne – The Langham & Bon Jovi – MD12</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/014.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/015.jpg" alt="">
                </div>
            </div>
            <h2>2012 Event – Sydney – The Blue Room – MD11</h2>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/016.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="md-guild-image md-guild-image--bordered img-responsive" src="/images/017.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <a href="/Dashboard/MDguild-events-high-achievers">
                <button type="button" class="btn btn-default btn-lg btn-block">High Achievers</button>
            </a>
            <a href="/Dashboard/MDguild-events">
                <button type="button" class="btn btn-default btn-lg btn-block">Back</button>
            </a>
        </div>
    </div>
</div>
<script src="/js/md-guild.js"></script>
