<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><span style="font-size:20px; padding-top:0;">My Dashboard</span><br>
      Lifetime credits</h1>
  </div>

  <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>-->

</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px;">
  <div class="col-md-12 col-sm-12">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Credits']
		  {HISTORY}
        ]);

        var options = {
			 colors: ['#c40030','#999999'],
          chart: {
            title: '',
            subtitle: '',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <div class="row" style="padding-bottom:60px;">
      <div class="col-md-9">
        <h3><a href="#">Current STATUS LEVEL </a> </h3>
        <div class="table-responsive" style="height: 40%; padding: 50px; padding-bottom: 15px; overflow: hidden;">
           <div id="g2" class="lifetime" style="background-color:#f7f7f7; padding-top:10px; padding-bottom:15px; background-image:url(images/lifetime.gif); background-position:center; background-repeat:no-repeat; "></div>
          <script src="js/justgage/raphael-2.1.4.min.js"></script>
          <script src="js/justgage/justgage.js"></script>
          <script>
	/*----JustGauge - Documentation is here http://justgage.com/-- */
	/*-----------------Number Format------------------*/

    document.addEventListener("DOMContentLoaded", function(event) {

      var g1 = new JustGage({
        id: 'g2',

		value: {LIFETIME-CHART},
        min: 0,
        max: 500000,
        symbol: '',
        pointer: true,
 		levelColors: ["{COLOR}"],
		  formatNumber: true,
       pointerOptions: {
          toplength: -15,
          bottomlength: 10,
          bottomwidth: 12,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        onAnimationEnd: function() {
          console.log('animation ended');
          var log = document.getElementById('log');
          log.innerHTML = log.innerHTML + 'Animation just ended.<br/>';
        }
      });

      document.getElementById('gauge_refresh').addEventListener('click', function() {
        g1.refresh(getRandomInt(0, 100));
      });
    });
    </script>
        </div>

        <!-- <img  class="img-responsive" src="images/image002.png" width="383" height="232" alt=""/> -->
        <p style="text-align: center; font-size: 20px;">{LIFETIME-TO-REACH}</p>
        <h3>1992 - CURRENT</h3>
        <br>
        <div class="table-responsive" style="overflow: hidden;">
          <div id="barchart_material" style="width: 800px; height: 800px;"></div>
        </div>
        <br>
        <div class="col-md-6">  </div>
      </div>
      <div class="col-md-3">
        <div class="table-responsive">
          <table class="table centre-text">
            <tr class="table-top-row">
              <td><!-- <a href="lifetime-credits.html" style="color:#FFF;" title="Click here for your Lifetime credits">Lifetime Credits</a>-->

                <span style="color:#ffffff">Lifetime Credits</span>
                <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        </script></td>
            </tr>
            <tr class="light-back">
              <td><span class="rank">{LIFETIME}</span><br></td>
            </tr>
          </table>
			<p>&nbsp;</p>
 			<p>&nbsp;</p>
 			<p>&nbsp;</p>
         <table class="table centre-text">
			  <tr class="table-top-row"><td colspan=2>Legend</td></tr>
			  <tr><td style="background: #8C7853;">Bronze</td><td>100,000</td></tr>
 			  <tr><td style="background: #C0C0C0;">Silver</td><td>200,000</td></tr>
			  <tr><td style="background: #CD7F32;">Gold</td><td>325,000</td></tr>
			  <tr><td style="background: #545454; color: #ffffff;">Platinum</td><td>500,000</td></tr>
      </table>
      <a href="/Dashboard" >
        <button type="button" style="margin:50px 0; background:#c40030; background-image: linear-gradient(0deg, #76001d, #c40030); color:#ffffff; text-transform: uppercase; " class="btn btn-default btn-lg btn-block">Back to Dashboard</button>
        </a>
       </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom:60px"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>-->
</div>
</div>
</div>
<!-- /.row -->
<div class="row" style="padding-bottom:30px"></div>

<!-- Projects Row -->
<div class="row" style="padding-bottom:20px"></div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row"></div>
<!--  <hr>   /.row -->
