       <!-- Page Header -->
        <div class="row">
       
      <div class="col-lg-12">
        <h1 class="page-header">My ACCOUNT</h1> </div>
      
      
      
      
      
      <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>-->
       
        
       
            
 
                    
                
                
                
      
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px">
        
        
        <div class="col-md-9">
        
        <h3>Personal Details</h3>
        
        <div class="table-responsive">   

          <table class="table">
            <tr class="table-top-row">
              <td><strong>Details</strong></td>
              <td><strong>Ambassador Club Member</strong></td>
            </tr>
            
            <tr class="active">
              <td><strong>Ambassador/Student Number</strong></td>
              <td>{MEMBER-NUMBER}</td>
            </tr>
            <tr>
              <td><strong>Title</strong></td>
              <td>{SALUTATION}</td>
            </tr>
            <tr class="active">
              <td><strong>First</strong></td>
              <td>{FIRSTNAME}</td>
            </tr>
            <tr>
              <td><strong>Surname</strong></td>
              <td> {LASTNAME}</td>
            </tr>
            <tr class="active">
              <td><strong>Date of Birth</strong></td>
              <td>{DOB}</td>
            </tr>
            <tr>
              <td><strong>Mobile</strong></td>
              <td>{MOBILE}</td>
            </tr>
             <tr class="active">
              <td><strong>Email Address</strong></td>
              <td>{EMAIL}</td>
            </tr>

            <tr>
              <td><strong>Dealership</strong></td>
              <td>{DEALERSHIP}</td>
            </tr>
            <tr class="active">
              <td><strong>Dealer Code</strong></td>
              <td>{DEALER-CODE}</td>
            </tr>
            <tr>
              <td><strong>Department</strong></td>
              <td>{DEPARTMENT}</td>
            </tr>
            <tr class="active">
              <td><strong>Position</strong></td>
              <td>{POSITION}</td>
            </tr>
            
            
          </table>
          <p><br>
          The details above are currently held on the Nissan mainframe (NISCOM). Please check they are correct. If not, please update, ask your Dealership to update, or email <a href="mailto:info@nissanac.com.au">info@nissanac.com.au</a> immediately. Incorrect details may mean your AC17 credits are incorrect<br>
          <br>
          <br>
          <br>
          <br>
          <br>
<br>
          </p>
        
        </div>
        
        
            <div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>-->
            </div>
            
            
   		</div>
        
 
                 
           <!--  
          <div class="col-md-3" style="padding-bottom:0px;">
            
           
            
            <h3><a href="#">RANKINGS &amp; CREDITS</a></h3>
            
                <div class="table-responsive"> 
                
    

                
                <table class="table centre-text">
                  <tr class="nissangray-back">
                    <td colspan="2">Your Current Ranking</td>
                  </tr>
                  <tr class="nissangray-light-back">
                    <td><span class="rank">33rd</span><br>
                    <p>Nationally</p></td>
                    <td><span class="rank">4th</span><br>
					<p>Regionally</p></td>
                  </tr>
                </table>
                </div>

				<div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="table-top-row">
                    <td>YTD Credits</td>
                  </tr>
                  <tr class="light-back">
                    <td><span class="rank">20,000</span><br></td>
                  </tr>
                </table>
                </div>            
            
      <div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="table-top-row">
                    <td>Lifetime Credits</td>
                  </tr>
                  <tr class="light-back">
                    <td><span class="rank">71,000</span><br></td>
                  </tr>
                </table>
                </div>
                
                
                <div class="table-responsive"> 
                <table class="table centre-text">
                  <tr class="nissangray-back">
                    <td colspan="2">Are you registered?</td>
                  </tr>
                  <tr class="nissangray-light-back">
                    <td><span class="rank" >	<a href="#" style="color:#FFFFFF; text-decoration:none;"title="You are eligible for the AC2017 Program">&#10004;</a></span><br>
                    </td>
                    
                  </tr>
                </table>
                </div>
                
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
          
          
<h3><a href="calender" style="margin-top:20px;">Calendar</a></h3>
 <div class="month">
 
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
     <div align="center">MARCH</div> 

    </li>
  </ul>
  
</div>




<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li><span class="active">10<a href="dashboard.html"></a></span></li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li><span class="active">20<a href="dashboard.html"></a></span></li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li><span class="active">30</span></li>
  
  
  
</ul>
                
            
           
                
            </div>
            
             -->
            
            
        </div>
        <!-- /.row -->
        <div class="row" style="padding-bottom:30px"></div>
        
        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px"></div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row"></div>
        <!--  <hr>   /.row -->

