  <style>
/*
	  .table-responsive {
	overflow-x: hidden;
	overflow-y: hidden;
	  }
*/
</style>
      <!-- Page Header -->
        <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">MY Metrics - <em>Parts Manager</em></h1> </div>





      <!-- <div class="col-xs-6 col-sm-6 col-md-4"><img style="float:right;" src="../images/jeep-md.png" width="119" height="45"></div>-->










        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px">


        <div class="col-md-12 col-sm-12">


		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

		google.charts.load('current', {'packages':['corechart']});

		google.charts.setOnLoadCallback(drawVisualization);
		google.charts.setOnLoadCallback(drawVisualization2);
	    google.charts.setOnLoadCallback(drawVisualization6);

        setTimeout(function () { adjustLegendMargin(); }, 4000);

        /* Moves the legend up slightly for each chart */
        function adjustLegendMargin () {
            const charts = document.querySelectorAll('svg');

            for (let i = 0; i < charts.length; i++) {
                let children = charts[i].querySelector('g').querySelectorAll('*');

                for (let j = 0; j < children.length; j++) {
                    children[j].setAttribute('y', children[j].getAttribute('y') - 10);
                }
            }
        }

	  function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'Credits'],
         {GRP}
      ]);

    var options = {
	chartArea:{left:65,top:40,bottom:40,width:'80%',height:'75%'},
        legend: 'top',

	//title : 'MATCHED OW',
	//vAxis: {title: 'Metrics'},
    animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
      colors: ['#c40030' ],

		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 2300
			}
			, ticks: new Array(10).fill(230).map((n, i) => n * (i + 1))
		},

      seriesType: 'bars'
      //,series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);


  }



      function drawVisualization2() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month',  'Credits'],
         {GAS}
      ]);

    var options = {
	chartArea:{left:65,top:40,bottom:40,width:'80%',height:'75%'},
        legend: 'top',

	//title : 'MATCHED OW',
	//vAxis: {title: 'Metrics'},
    animation: {
      duration: 1600,
      easing: 'out',
			startup: true
    },
      colors: ['#999999' ],
		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 1100
			}
			, ticks: new Array(5).fill(220).map((n, i) => n * (i + 1))
		},
      //hAxis: {title: 'Month'},
      seriesType: 'bars'
      //,series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
    chart.draw(data, options);


  }





            function drawVisualization6() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'Classroom'  ],
         {TRAINING}
      ]);

    var options = {
	  chartArea:{left:40,top:40,bottom:40,width:'75%',height:'75%'},
        legend: 'top',
	  animation: {
      duration: 2000,
      easing: 'out',
			startup:  true
    },
      //title : 'NEW VEHICLE SALES',
      colors: ['#111111', '#555555' , 'd2d2d2'],

		vAxis: {
			viewWindowMode: 'explicit',
			viewWindow: {
				max: 3000
			}
			, ticks: new Array(6).fill(500).map((n, i) => n * (i + 1))
		},
	  isStacked: true,
	 // vAxis: {title: 'Metrics'},hAxis: {title: 'Month'},

      seriesType: 'bars'
      //series: {5: {type: 'line'}},
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div6'));
    chart.draw(data, options);
  }

    </script>



    <div class="row graph-back-top">

    <div class="col-md-7">

    <h3>1. Nissan Genuine replacement Parts</h3>
        <div class="table-responsive">
            <div id="chart_div" style="min-width: 600px; min-height: 400px;">
            </div>

        <table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {GRP-RESULTS}
          </tr>
        </table>

        </div>
        <br>


    </div>

    <div class="col-md-5">
    <h3>Nissan Genuine Replacement Parts<strong> </strong>Guide</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>Parts Manager</td>
        <td align="center">100%</td>
        <td align="center">110%</td>
        <td align="center">120%+</td>
      </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">600</td>
        <td align="center">1,300</td>
        <td align="center">2,300</td>
      </tr>
    </table>
    <p>&nbsp;</p>


	</div>



</div>

<div class="row graph-back">




<div class="col-md-7" >
	<div class="table-responsive">
	 <h3>2. Nissan Genuine Accessories</h3>
    <div id="chart_div2" style="min-width: 600px; min-height: 500px;"></div>
	<table class="table table-condensed" style="width: 593px;" >
          <col>
          <tr class="table-top-row" align="center">
            <td></td>
            <td>APR</td>
            <td>MAY</td>
            <td>JUN</td>
            <td>JUL</td>
            <td>AUG</td>
            <td>SEP</td>
            <td>OCT</td>
            <td>NOV</td>
            <td>DEC</td>
            <td>JAN</td>
            <td>FEB</td>
            <td>MAR</td>
          </tr>
          <tr>
            <td class="nissangray-light-back">RESULT</td>
            {GAS-RESULTS}
          </tr>
        </table></div>

        <br>



</div>


<div class="col-md-5">
    <h3>Nissan Genuine Accessories GUIDE</h3>

    <table class="table small-table">
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>Parts Manager</td>
        <td align="center">100%</td>
        <td align="center">110%</td>
        <td align="center">120%+</td>
      </tr>
      <tr>
        <td>Category A, B, C</td>
        <td align="center">400</td>
        <td align="center">700</td>
        <td align="center">1,100</td>
      </tr>
    </table>
    <p>&nbsp;</p>


	</div>



</div>
<div class="row graph-back">

  <div class="col-md-7">

    <h3>3. TRAINING</h3>
        <div class="table-responsive">
            <div id="chart_div6" style="min-width: 600px; min-height: 400px;">
            </div>
               </div>

        <br>


    </div>

    <div class="col-md-5">
    <h3>TRAINING GUIDE</h3>
    <table class="table small-table" >
      <col>
      <col>
      <col>
      <col>
      <tr class="table-top-row">
        <td>Competency Modules</td>
        <td>Credits</td>
        </tr>
      <tr class="active">
        <td>Certified Service Advisor</td>
        <td>500</td>
        </tr>
      <tr class="active">
        <td>Certified Aftersales Manager</td>
        <td>150</td>
        </tr>
      <tr class="active">
        <td>Business Planning</td>
        <td>750</td>
        </tr>
      <tr class="active">
        <td>Bonus</td>
        <td>2000</td>
        </tr>
    </table>
    <p>
      <em>Refer to the <a href="http://nissanac-1819.local/Dashboard/MembersGuide">AC18 Member Guide</a> for full details.</em>
    </p>
	</div>

</div>








</div>


          <br>
         <br><br><br><br>
          <br>
          <br>
          <br>
          <br>
          <br>
<br>

        </div>


            <div class="table-responsive"><!-- <h4><a href="leaderboards.html">FULL NATIONAL LEADERBOARD ></a></h4>-->
            </div>


   		</div>




        </div>
        <!-- /.row -->
        <div class="row" style="padding-bottom:30px"></div>

        <!-- Projects Row -->
        <div class="row" style="padding-bottom:20px"></div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row"></div>
        <!--  <hr>   /.row -->
