body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
    background-color: #c40030;
}

#panel .toggle-button{
    color: #c40030;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.panel-mask:before {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease-in-out;
}

.panel-mask-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}
#menu .el-menu{
    background: transparent !important;
    border-right: none;
    margin-top: 30px;
}
.el-menu .el-menu-item{
    font-size: 20px;
    color: white;
    height: 50px;
}.el-menu .is-active{
    background-color: black;
    color: #c40030;
    font-weight: bold;
}