.footer, .footer a {
  color: #b58631;
}
.nav-footer .navbar-nav .nav-link {
  color: #b58631;
}
.nav-footer .navbar-nav .nav-link:hover {
  color: white;
}
.nissan-button {
  background-color: #008080;
  border-color: #008080;
}