
.logo-img {
  max-width: 200px;
  height: auto;
}

.header-logo {
  display: flex;
  justify-content: left;
}
.footer, .footer a {
  color: #FFB347;
}
.nav-footer .navbar-nav .nav-link {
  color: #FFB347;
}
.nav-footer .navbar-nav .nav-link:hover {
  color: white;
}
.nissan-button {
  background-color: #008080;
  border-color: #008080;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #008080;
  color: #fff;
}
.btn-leader-board {
  color: #008080;
}

.state_trophy {
  margin-top: 100%;
}