.nissan-logo-header {
    width: 60%;
    margin-right: 20%;
}

.log-in {
    font-weight: bold;
    font-size: 0.75rem;
}

.top_includes_list a {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: normal;
}

.home-link a {
    color: #B58631;
    font-size: 0.75rem;
}

.div-navbar {
    background: #000000;
    margin-bottom: 0;
    text-align: center;
    font-size: 0.85rem;
    color: #ffffff;
    text-transform: uppercase;
}

.div-navbar ul {
    white-space: nowrap;
}

/*footer & header*/
.navbar {
    padding: 0;
}

.navbar .current a {
    border-bottom: solid;
}

footer {
    width: 91%;
    font-size: 10px;
}
.footer {
    color: #666666;
}
.footer a {
    color: #ffffff;
}
.navbar-header .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 0.844rem;
}

.navbar-header .navbar-nav .nav-link:hover {
    background-color: #c40030;
    color: #ffffff;
}

.nav-footer .navbar-nav .nav-link:hover {
    color: #c40030;
    background-color: #000000;
}
.nav-footer a {
    color: #ffffff;
}
.nav-footer ul {
    display: inline;
}

.loggedin {
    font-family: 'nissan_brandlight', Arial, sans-serif;
    padding: 20px 0 0 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}
.loggedin > span:not(:last-child) {
    border-right: 1px solid #555555;
}

.loggedin > span {
    display: inline-block;
    padding: 0 8px;
}
.loggedin a {
    color: #000000;
    font-weight: bold;
}
