@media only screen and (min-width: 1600px) {
    .container {
        min-width: 1580px;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        min-width: 1380px;
    }
}
html,body {
    margin:0;
    padding:0;
    background-color:#000;
}

.logo-img {
    max-width: 150px;
    height: auto; 
}
body{
    font-family: 'nissan_brandlight', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "nissan_brandlight", Arial, sans-serif;
}
h1, h3 {
    text-transform: uppercase;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 12px;
}
a, a:hover {
    color: #c0133c;
    text-decoration: none;
}
.fs-30 {
    font-size: 30px;
}

.fs-14{
    font-size: 14px;
}

.fs-12{
    font-size: 12px;
}

.txt-grey9 {
    color: #999999 !important;
}

.txt-white {
    color: #ffffff !important;
}

.txt-red {
    color: #c0133c !important;
}

.txt-black {
    color: #111111 !important;
}

.txt-gr {
    color: #1aaf54 !important;
}

.txt-bold {
    font-weight: bold;
}
