.guild {
    background-color: #ffffff;
}
.guild-header {
    background-position: top;
    background-size: cover;
    position:relative;
}
.guild-banner {
    margin-top: 20%;
    margin-bottom: 5%;
}

.guild-event-header {
    position: relative;
}

.guild-event-banner {
    width: 100%;
}

.guild-buttons {
    display: flex !important;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 5%;
    position: absolute;
}

.guild h3 {
    color: #c40030;
    margin-bottom: 2%;
    margin-top: 1%;
}

.edm-link {
    text-decoration: underline;
}

