.loading-text {
    color: #c40030;
}

.txt-black-tr td .cell {
    color: black;
}

.dsm-table-header .is-leaf .cell {
    font-size: 18px;
}

.el-table__header thead tr {
    /* background-color: #4c4c4c;
     color: white;*/
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
