.welcome-content .nissan-logo {
     width: 75%;
     margin-bottom: 30%
 }
.nissan-elite-brand {
    /* width: 75%; */
    max-height: 100%;
    object-fit: contain;
}
.bg_img {
    background-repeat: repeat-y;
    height: auto;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
}

.dealership-img-static,
.individual-img-static {
    opacity: 1;
}

.dealership-img-active,
.individual-img-active {
    opacity: 0;
}

/* Hover Effect: Swap Images */
.dealership-wrapper:hover .dealership-img-static {
    opacity: 0;
}

.dealership-wrapper:hover .dealership-img-active {
    opacity: 1;
}

.individual-wrapper:hover .individual-img-static {
    opacity: 0;
}

.individual-wrapper:hover .individual-img-active {
    opacity: 1;
}
